In [7]:
#Tugas 8

import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 22)
df = pd.read_excel(r"C:\CO2Emission.xlsx")

In [8]:
#Cek jumlah baris dan kolom pada awal data
df.shape

(4324, 22)

In [9]:
#cek presentase data kosong
df.isnull().mean().mul(100)

Country                                                                  0.000000
Year                                                                     0.000000
Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)      2.451434
Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)     2.451434
Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)               0.462535
Total CH4 (MtCO2e)                                                       2.405180
Total N2O (MtCO2e)                                                       2.382054
Total F-Gas (MtCO2e)                                                     0.000000
Total CO2 (including Land-Use Change and Forestry) (MtCO2)               2.382054
Total CH4 (including Land-Use Change and Forestry) (MtCO2e)              5.573543
Total N2O (including Land-Use Change and Forestry) (MtCO2e)              5.573543
Energy (MtCO2e)                                                         27.127660
Industrial Processes (MtCO2e)                                            3.792784
Agriculture (MtCO2e)                                                     2.382054
Waste (MtCO2e)                                                           0.000000
Land-Use Change and Forestry (MtCO2)                                     2.382054
Bunker Fuels (MtCO2)                                                    27.127660
Electricity/Heat (MtCO2)                                                27.127660
Manufacturing/Construction (MtCO2)                                      27.127660
Transportation (MtCO2)                                                  27.127660
Other Fuel Combustion (MtCO2e)                                          27.127660
Fugitive Emissions (MtCO2e)                                              1.480111
dtype: float64

In [10]:
#Memberikan batas untuk data kosong yang ingin dibuang per baris
batas = 5 #Misal batas data yang kosong 5, lebih dari 5 maka akan di buang
df_semi_clean = df.dropna(thresh = 5, axis = "rows")

In [11]:
#Cek kembali jumlah baris dan kolom
df_semi_clean.shape

(4306, 22)

In [12]:
#Mengubah data negatif menjadi 0
df_clean_1 = df_semi_clean._get_numeric_data()
df_clean_1[df_clean_1 < 0] = 0

In [13]:
#Mengubah data kosong menjadi 0
df_clean_2 = df_clean_1.fillna(0)

In [14]:
#DataFrame sebelum dibersihkan
df.describe()

,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
count,4324.000000,4218.000000,4218.000000,4304.000000,4220.000000,4221.000000,4324.000000,4221.000000,4083.000000,4083.000000,3151.000000,4160.000000,4221.000000,4324.000000,4221.000000,3151.000000,3151.000000,3151.000000,3151.000000,3151.000000,4260.000000
mean,2001.000000,429.346316,458.518569,314.728577,73.519570,32.088247,5.646564,345.472514,77.604976,33.802694,453.370466,21.755825,56.303732,15.701746,29.151519,15.738020,181.950981,81.637569,90.523113,66.702670,24.161675
std,6.634017,2782.731453,2977.703357,2054.187769,478.110601,202.382824,38.980329,2250.899004,496.528569,209.779148,2521.860765,145.552782,363.080986,99.088914,244.830333,81.155726,1021.016716,458.902470,527.878644,347.050844,164.155092
min,1990.000000,0.030500,-139.274000,0.000000,0.002900,0.000500,0.000000,-187.310850,0.010701,0.000517,0.742300,0.000000,0.000000,0.000900,-412.226800,0.000000,0.000000,0.000000,0.040000,0.025300,0.000000
25%,1995.000000,7.071550,8.588075,1.468575,2.017875,0.568500,0.006600,4.150908,2.636241,0.774771,9.074600,0.073600,0.991800,0.397275,-0.623100,0.240000,1.790000,0.980000,1.870000,1.640100,0.000000
50%,2001.000000,26.574650,38.805950,9.678000,7.760300,3.712600,0.069350,21.774416,8.771170,4.056548,38.229200,0.718600,5.960600,1.453850,0.055900,1.000000,11.500000,5.210000,5.720000,5.401100,0.249800
75%,2007.000000,106.489325,134.983125,64.894800,28.115625,11.477700,0.582325,87.885518,32.812121,12.366901,138.280100,4.284125,20.393100,5.328850,11.288500,4.050000,43.045000,28.890000,23.670000,17.974500,5.114950
max,2012.000000,44815.535139,47598.554159,33843.049700,7153.957100,3045.422300,773.106100,36421.814380,7298.598616,3105.035100,35099.149100,2839.577900,5381.510200,1495.287900,3513.469000,1133.070000,14903.970000,6456.800000,7186.970000,4010.939800,2569.687400

In [15]:
#DataFrame setelah dibersihkan
df_clean_2.describe()

,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
count,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000,4306.000000
mean,2001.021366,420.571937,449.433585,314.582395,72.051227,31.454829,5.664916,339.234585,73.585954,32.052113,331.762735,21.018168,55.192302,15.766601,39.334524,11.516605,133.146201,59.739893,66.242065,48.810987,23.903562
std,6.632760,2754.813234,2947.778849,2053.721748,473.422731,200.424614,39.060683,2228.983763,483.803236,204.410924,2166.530199,143.117539,359.564024,99.290763,236.468097,69.769881,877.089713,394.207805,453.324756,298.334511,163.294614
min,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1995.000000,6.375475,7.628000,1.451400,1.877050,0.502200,0.006600,2.784053,1.880394,0.514198,0.000000,0.047925,0.865225,0.408325,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2001.000000,25.324150,36.280700,9.671200,7.431200,3.552050,0.068900,20.604476,7.629661,3.606148,12.966200,0.632200,5.744450,1.465400,0.021550,0.425000,3.175000,1.355000,2.415000,2.333250,0.234500
75%,2007.000000,100.910100,131.805150,64.837050,27.345125,11.174275,0.568075,86.474561,28.475646,11.459264,75.453875,4.084250,19.960600,5.402975,10.834300,2.327500,26.755000,11.517500,13.470000,10.255250,4.984250
max,2012.000000,44815.535139,47598.554159,33843.049700,7153.957100,3045.422300,773.106100,36421.814380,7298.598616,3105.035100,35099.149100,2839.577900,5381.510200,1495.287900,3513.469000,1133.070000,14903.970000,6456.800000,7186.970000,4010.939800,2569.687400