In [69]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 22)
#Tugas 1
df = pd.read_excel(r"C:\CO2Emission.xlsx")
df

,Country,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
0,Afghanistan,1990,15.2969,15.9612,2.9907,9.3098,2.9943,0.0022,3.654722,9.309911,2.994363,NaN,0.0571,7.3512,4.0390,0.6643,NaN,NaN,NaN,NaN,NaN,1.2556
1,Afghanistan,1991,15.3514,15.3516,2.7412,9.5144,3.0922,0.0036,2.741202,9.514511,3.092303,NaN,0.0586,7.6393,4.2200,0.0002,NaN,NaN,NaN,NaN,NaN,1.0226
2,Afghanistan,1992,14.0513,14.0515,1.4252,9.5697,3.0513,0.0050,1.425242,9.569811,3.051362,NaN,0.0637,7.6392,4.4011,0.0002,NaN,NaN,NaN,NaN,NaN,0.6026
3,Afghanistan,1993,14.0649,14.0650,1.3520,9.6081,3.0983,0.0065,1.352016,9.608191,3.098362,NaN,0.0651,7.7102,4.5822,0.0002,NaN,NaN,NaN,NaN,NaN,0.4140
4,Afghanistan,1994,14.0222,14.0224,1.2971,9.7873,2.9300,0.0079,1.297056,9.787361,2.930032,NaN,0.0665,7.7066,4.7633,0.0002,NaN,NaN,NaN,NaN,NaN,0.2473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,Zimbabwe,2008,23.0814,60.8908,7.5479,9.1397,6.0009,0.3928,45.160526,9.276915,6.060509,10.5829,0.9914,10.8520,0.6351,37.8094,0.02,2.59,1.37,1.02,5.3874,0.2155
4320,Zimbabwe,2009,24.0993,61.7536,8.3881,9.1254,6.1585,0.4273,46.004770,9.151632,6.169901,11.2958,1.1761,10.9921,0.6353,37.6543,0.02,2.71,1.56,1.09,5.7170,0.2189
4321,Zimbabwe,2010,24.9543,62.6195,9.1394,9.1346,6.2185,0.4618,46.760096,9.165669,6.231953,11.9888,1.2618,11.0582,0.6354,37.6652,0.03,2.95,1.70,1.19,5.9265,0.2223
4322,Zimbabwe,2011,25.9958,63.6836,9.9870,9.2276,6.2733,0.5080,47.611758,9.271497,6.292367,12.8249,1.3556,11.1518,0.6635,37.6878,0.03,3.23,1.86,1.31,6.2001,0.2248
4323,Zimbabwe,2012,25.2187,62.9284,9.9800,8.9094,5.7752,0.5541,47.608770,8.965835,5.799680,13.2909,NaN,10.2814,0.6916,37.7097,0.03,3.38,1.95,1.36,6.3736,0.2273

In [70]:
#Tugas 3
df.shape

(4324, 22)

In [71]:
#Tugas 4
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 22 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Country                                                               4324 non-null   object
 1   Year                                                                  4324 non-null   int64
 2   Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)   4218 non-null   float64
 3   Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)  4218 non-null   float64
 4   Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)            4304 non-null   float64
 5   Total CH4 (MtCO2e)                                                    4220 non-null   float64
 6   Total N2O (MtCO2e)                                                    4221 non-null   float64
 7   Total F-Gas (MtCO2e)                                                  4324 non-null   float64
 8   Total CO2 (including Land-Use Change and Forestry) (MtCO2)            4221 non-null   float64
 9   Total CH4 (including Land-Use Change and Forestry) (MtCO2e)           4083 non-null   float64
 10  Total N2O (including Land-Use Change and Forestry) (MtCO2e)           4083 non-null   float64
 11  Energy (MtCO2e)                                                       3151 non-null   float64
 12  Industrial Processes (MtCO2e)                                         4160 non-null   float64
 13  Agriculture (MtCO2e)                                                  4221 non-null   float64
 14  Waste (MtCO2e)                                                        4324 non-null   float64
 15  Land-Use Change and Forestry (MtCO2)                                  4221 non-null   float64
 16  Bunker Fuels (MtCO2)                                                  3151 non-null   float64
 17  Electricity/Heat (MtCO2)                                              3151 non-null   float64
 18  Manufacturing/Construction (MtCO2)                                    3151 non-null   float64
 19  Transportation (MtCO2)                                                3151 non-null   float64
 20  Other Fuel Combustion (MtCO2e)                                        3151 non-null   float64
 21  Fugitive Emissions (MtCO2e)                                           4260 non-null   float64
dtypes: float64(20), int64(1), object(1)
memory usage: 743.3+ KB

In [72]:
#Tugas 4
df.describe()

,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
count,4324.000000,4218.000000,4218.000000,4304.000000,4220.000000,4221.000000,4324.000000,4221.000000,4083.000000,4083.000000,3151.000000,4160.000000,4221.000000,4324.000000,4221.000000,3151.000000,3151.000000,3151.000000,3151.000000,3151.000000,4260.000000
mean,2001.000000,429.346316,458.518569,314.728577,73.519570,32.088247,5.646564,345.472514,77.604976,33.802694,453.370466,21.755825,56.303732,15.701746,29.151519,15.738020,181.950981,81.637569,90.523113,66.702670,24.161675
std,6.634017,2782.731453,2977.703357,2054.187769,478.110601,202.382824,38.980329,2250.899004,496.528569,209.779148,2521.860765,145.552782,363.080986,99.088914,244.830333,81.155726,1021.016716,458.902470,527.878644,347.050844,164.155092
min,1990.000000,0.030500,-139.274000,0.000000,0.002900,0.000500,0.000000,-187.310850,0.010701,0.000517,0.742300,0.000000,0.000000,0.000900,-412.226800,0.000000,0.000000,0.000000,0.040000,0.025300,0.000000
25%,1995.000000,7.071550,8.588075,1.468575,2.017875,0.568500,0.006600,4.150908,2.636241,0.774771,9.074600,0.073600,0.991800,0.397275,-0.623100,0.240000,1.790000,0.980000,1.870000,1.640100,0.000000
50%,2001.000000,26.574650,38.805950,9.678000,7.760300,3.712600,0.069350,21.774416,8.771170,4.056548,38.229200,0.718600,5.960600,1.453850,0.055900,1.000000,11.500000,5.210000,5.720000,5.401100,0.249800
75%,2007.000000,106.489325,134.983125,64.894800,28.115625,11.477700,0.582325,87.885518,32.812121,12.366901,138.280100,4.284125,20.393100,5.328850,11.288500,4.050000,43.045000,28.890000,23.670000,17.974500,5.114950
max,2012.000000,44815.535139,47598.554159,33843.049700,7153.957100,3045.422300,773.106100,36421.814380,7298.598616,3105.035100,35099.149100,2839.577900,5381.510200,1495.287900,3513.469000,1133.070000,14903.970000,6456.800000,7186.970000,4010.939800,2569.687400

In [73]:
#Tugas 4
df.isna().sum()

Country                                                                    0
Year                                                                       0
Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)      106
Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)     106
Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)                20
Total CH4 (MtCO2e)                                                       104
Total N2O (MtCO2e)                                                       103
Total F-Gas (MtCO2e)                                                       0
Total CO2 (including Land-Use Change and Forestry) (MtCO2)               103
Total CH4 (including Land-Use Change and Forestry) (MtCO2e)              241
Total N2O (including Land-Use Change and Forestry) (MtCO2e)              241
Energy (MtCO2e)                                                         1173
Industrial Processes (MtCO2e)                                            164
Agriculture (MtCO2e)                                                     103
Waste (MtCO2e)                                                             0
Land-Use Change and Forestry (MtCO2)                                     103
Bunker Fuels (MtCO2)                                                    1173
Electricity/Heat (MtCO2)                                                1173
Manufacturing/Construction (MtCO2)                                      1173
Transportation (MtCO2)                                                  1173
Other Fuel Combustion (MtCO2e)                                          1173
Fugitive Emissions (MtCO2e)                                               64
dtype: int64

In [81]:
#Tugas 4
df.isna().mean().mul(100)

Country                                                                  0.000000
Year                                                                     0.000000
Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)      2.451434
Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)     2.451434
Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)               0.462535
Total CH4 (MtCO2e)                                                       2.405180
Total N2O (MtCO2e)                                                       2.382054
Total F-Gas (MtCO2e)                                                     0.000000
Total CO2 (including Land-Use Change and Forestry) (MtCO2)               2.382054
Total CH4 (including Land-Use Change and Forestry) (MtCO2e)              5.573543
Total N2O (including Land-Use Change and Forestry) (MtCO2e)              5.573543
Energy (MtCO2e)                                                         27.127660
Industrial Processes (MtCO2e)                                            3.792784
Agriculture (MtCO2e)                                                     2.382054
Waste (MtCO2e)                                                           0.000000
Land-Use Change and Forestry (MtCO2)                                     2.382054
Bunker Fuels (MtCO2)                                                    27.127660
Electricity/Heat (MtCO2)                                                27.127660
Manufacturing/Construction (MtCO2)                                      27.127660
Transportation (MtCO2)                                                  27.127660
Other Fuel Combustion (MtCO2e)                                          27.127660
Fugitive Emissions (MtCO2e)                                              1.480111
dtype: float64

In [74]:
#Tugas 5
df.head(10)

,Country,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
0,Afghanistan,1990,15.2969,15.9612,2.9907,9.3098,2.9943,0.0022,3.654722,9.309911,2.994363,NaN,0.0571,7.3512,4.0390,0.6643,NaN,NaN,NaN,NaN,NaN,1.2556
1,Afghanistan,1991,15.3514,15.3516,2.7412,9.5144,3.0922,0.0036,2.741202,9.514511,3.092303,NaN,0.0586,7.6393,4.2200,0.0002,NaN,NaN,NaN,NaN,NaN,1.0226
2,Afghanistan,1992,14.0513,14.0515,1.4252,9.5697,3.0513,0.0050,1.425242,9.569811,3.051362,NaN,0.0637,7.6392,4.4011,0.0002,NaN,NaN,NaN,NaN,NaN,0.6026
3,Afghanistan,1993,14.0649,14.0650,1.3520,9.6081,3.0983,0.0065,1.352016,9.608191,3.098362,NaN,0.0651,7.7102,4.5822,0.0002,NaN,NaN,NaN,NaN,NaN,0.4140
4,Afghanistan,1994,14.0222,14.0224,1.2971,9.7873,2.9300,0.0079,1.297056,9.787361,2.930032,NaN,0.0665,7.7066,4.7633,0.0002,NaN,NaN,NaN,NaN,NaN,0.2473
5,Afghanistan,1995,14.3679,14.3681,1.2458,10.0560,3.0568,0.0093,1.245760,10.056141,3.056832,NaN,0.0680,8.0878,4.9444,0.0002,NaN,NaN,NaN,NaN,NaN,0.0807
6,Afghanistan,1996,15.3510,15.3511,1.1761,10.8619,3.2956,0.0173,1.176144,10.862048,3.295642,NaN,0.0759,8.9751,5.0984,0.0002,NaN,NaN,NaN,NaN,NaN,0.0840
7,Afghanistan,1997,16.3108,16.3109,1.0882,11.5757,3.6216,0.0253,1.088208,11.575776,3.621661,NaN,0.0839,9.8576,5.2525,0.0001,NaN,NaN,NaN,NaN,NaN,0.0873
8,Afghanistan,1998,17.1511,17.1513,1.0332,12.1525,3.9321,0.0332,1.033248,12.152633,3.932251,NaN,0.0918,10.5875,5.4065,0.0003,NaN,NaN,NaN,NaN,NaN,0.0906
9,Afghanistan,1999,18.0201,18.0202,0.8061,12.9486,4.2242,0.0412,0.806080,12.948681,4.224220,NaN,0.0998,11.5183,5.5606,0.0001,NaN,NaN,NaN,NaN,NaN,0.0939

In [75]:
#Tugas 5
df.tail(10)

,Country,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
4314,Zimbabwe,2003,24.6692,62.4362,10.0779,8.9345,5.4377,0.2191,47.822526,8.950077,5.444467,13.4345,0.8176,9.7800,0.6371,37.7670,0.11,4.59,2.04,1.38,5.2048,0.2197
4315,Zimbabwe,2004,24.8346,62.6020,9.6592,9.1196,5.8017,0.2543,47.402582,9.136220,5.808900,12.8092,0.9041,10.4854,0.6359,37.7673,0.03,5.61,1.56,1.19,4.2367,0.2125
4316,Zimbabwe,2005,24.8613,62.7354,10.4204,8.6931,5.4583,0.2894,48.162638,8.785143,5.498204,13.3540,0.9906,9.8720,0.6347,37.8741,0.03,5.92,1.63,1.30,4.2987,0.2053
4317,Zimbabwe,2006,24.4569,62.0844,9.7981,8.7299,5.6051,0.3239,47.402690,8.745750,5.612005,12.7069,1.0727,10.0525,0.6349,37.6274,0.03,3.83,2.09,1.28,5.2983,0.2087
4318,Zimbabwe,2007,24.6141,62.2878,9.6679,8.8498,5.7381,0.3584,47.276496,8.895117,5.757837,12.7199,0.9569,10.3023,0.6350,37.6737,0.03,3.34,2.26,1.24,5.6678,0.2121
4319,Zimbabwe,2008,23.0814,60.8908,7.5479,9.1397,6.0009,0.3928,45.160526,9.276915,6.060509,10.5829,0.9914,10.8520,0.6351,37.8094,0.02,2.59,1.37,1.02,5.3874,0.2155
4320,Zimbabwe,2009,24.0993,61.7536,8.3881,9.1254,6.1585,0.4273,46.004770,9.151632,6.169901,11.2958,1.1761,10.9921,0.6353,37.6543,0.02,2.71,1.56,1.09,5.7170,0.2189
4321,Zimbabwe,2010,24.9543,62.6195,9.1394,9.1346,6.2185,0.4618,46.760096,9.165669,6.231953,11.9888,1.2618,11.0582,0.6354,37.6652,0.03,2.95,1.70,1.19,5.9265,0.2223
4322,Zimbabwe,2011,25.9958,63.6836,9.9870,9.2276,6.2733,0.5080,47.611758,9.271497,6.292367,12.8249,1.3556,11.1518,0.6635,37.6878,0.03,3.23,1.86,1.31,6.2001,0.2248
4323,Zimbabwe,2012,25.2187,62.9284,9.9800,8.9094,5.7752,0.5541,47.608770,8.965835,5.799680,13.2909,NaN,10.2814,0.6916,37.7097,0.03,3.38,1.95,1.36,6.3736,0.2273

In [76]:
df1 = df["Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)"]
df1
df1.min()
df1.max()
df1.describe()

count     4218.000000
mean       429.346316
std       2782.731453
min          0.030500
25%          7.071550
50%         26.574650
75%        106.489325
max      44815.535139
Name: Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e), dtype: float64

In [77]:
#Tugas 5
df2 = df["Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)"]
df2
df2.min()
df2.max()
df2.describe()

count     4218.000000
mean       458.518569
std       2977.703357
min       -139.274000
25%          8.588075
50%         38.805950
75%        134.983125
max      47598.554159
Name: Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍), dtype: float64

In [78]:
#Tugas 5
df.describe()

,Year,Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e),Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍),Total CO2 (excluding Land-Use Change and Forestry) (MtCO2),Total CH4 (MtCO2e),Total N2O (MtCO2e),Total F-Gas (MtCO2e),Total CO2 (including Land-Use Change and Forestry) (MtCO2),Total CH4 (including Land-Use Change and Forestry) (MtCO2e),Total N2O (including Land-Use Change and Forestry) (MtCO2e),Energy (MtCO2e),Industrial Processes (MtCO2e),Agriculture (MtCO2e),Waste (MtCO2e),Land-Use Change and Forestry (MtCO2),Bunker Fuels (MtCO2),Electricity/Heat (MtCO2),Manufacturing/Construction (MtCO2),Transportation (MtCO2),Other Fuel Combustion (MtCO2e),Fugitive Emissions (MtCO2e)
count,4324.000000,4218.000000,4218.000000,4304.000000,4220.000000,4221.000000,4324.000000,4221.000000,4083.000000,4083.000000,3151.000000,4160.000000,4221.000000,4324.000000,4221.000000,3151.000000,3151.000000,3151.000000,3151.000000,3151.000000,4260.000000
mean,2001.000000,429.346316,458.518569,314.728577,73.519570,32.088247,5.646564,345.472514,77.604976,33.802694,453.370466,21.755825,56.303732,15.701746,29.151519,15.738020,181.950981,81.637569,90.523113,66.702670,24.161675
std,6.634017,2782.731453,2977.703357,2054.187769,478.110601,202.382824,38.980329,2250.899004,496.528569,209.779148,2521.860765,145.552782,363.080986,99.088914,244.830333,81.155726,1021.016716,458.902470,527.878644,347.050844,164.155092
min,1990.000000,0.030500,-139.274000,0.000000,0.002900,0.000500,0.000000,-187.310850,0.010701,0.000517,0.742300,0.000000,0.000000,0.000900,-412.226800,0.000000,0.000000,0.000000,0.040000,0.025300,0.000000
25%,1995.000000,7.071550,8.588075,1.468575,2.017875,0.568500,0.006600,4.150908,2.636241,0.774771,9.074600,0.073600,0.991800,0.397275,-0.623100,0.240000,1.790000,0.980000,1.870000,1.640100,0.000000
50%,2001.000000,26.574650,38.805950,9.678000,7.760300,3.712600,0.069350,21.774416,8.771170,4.056548,38.229200,0.718600,5.960600,1.453850,0.055900,1.000000,11.500000,5.210000,5.720000,5.401100,0.249800
75%,2007.000000,106.489325,134.983125,64.894800,28.115625,11.477700,0.582325,87.885518,32.812121,12.366901,138.280100,4.284125,20.393100,5.328850,11.288500,4.050000,43.045000,28.890000,23.670000,17.974500,5.114950
max,2012.000000,44815.535139,47598.554159,33843.049700,7153.957100,3045.422300,773.106100,36421.814380,7298.598616,3105.035100,35099.149100,2839.577900,5381.510200,1495.287900,3513.469000,1133.070000,14903.970000,6456.800000,7186.970000,4010.939800,2569.687400

In [79]:
#Tugas 5
df.max()

Country                                                                 Zimbabwe
Year                                                                        2012
Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)      44815.5
Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)     47598.6
Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)                 33843
Total CH4 (MtCO2e)                                                       7153.96
Total N2O (MtCO2e)                                                       3045.42
Total F-Gas (MtCO2e)                                                     773.106
Total CO2 (including Land-Use Change and Forestry) (MtCO2)               36421.8
Total CH4 (including Land-Use Change and Forestry) (MtCO2e)               7298.6
Total N2O (including Land-Use Change and Forestry) (MtCO2e)              3105.04
Energy (MtCO2e)                                                          35099.1
Industrial Processes (MtCO2e)                                            2839.58
Agriculture (MtCO2e)                                                     5381.51
Waste (MtCO2e)                                                           1495.29
Land-Use Change and Forestry (MtCO2)                                     3513.47
Bunker Fuels (MtCO2)                                                     1133.07
Electricity/Heat (MtCO2)                                                   14904
Manufacturing/Construction (MtCO2)                                        6456.8
Transportation (MtCO2)                                                   7186.97
Other Fuel Combustion (MtCO2e)                                           4010.94
Fugitive Emissions (MtCO2e)                                              2569.69
dtype: object

In [80]:
#Tugas 5
df.min()

Country                                                                 Afghanistan
Year                                                                           1990
Total GHG Emissions Excluding Land-Use Change and Forestry (MtCO2e)          0.0305
Total GHG Emissions Including Land-Use Change and Forestry (MtCO₂e‍)       -139.274
Total CO2 (excluding Land-Use Change and Forestry) (MtCO2)                        0
Total CH4 (MtCO2e)                                                           0.0029
Total N2O (MtCO2e)                                                           0.0005
Total F-Gas (MtCO2e)                                                              0
Total CO2 (including Land-Use Change and Forestry) (MtCO2)                 -187.311
Total CH4 (including Land-Use Change and Forestry) (MtCO2e)               0.0107008
Total N2O (including Land-Use Change and Forestry) (MtCO2e)             0.000516975
Energy (MtCO2e)                                                              0.7423
Industrial Processes (MtCO2e)                                                     0
Agriculture (MtCO2e)                                                              0
Waste (MtCO2e)                                                               0.0009
Land-Use Change and Forestry (MtCO2)                                       -412.227
Bunker Fuels (MtCO2)                                                              0
Electricity/Heat (MtCO2)                                                          0
Manufacturing/Construction (MtCO2)                                                0
Transportation (MtCO2)                                                         0.04
Other Fuel Combustion (MtCO2e)                                               0.0253
Fugitive Emissions (MtCO2e)                                                       0
dtype: object